.header {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/db6cwsgoc/image/upload/v1551732032/DSC_18-1411_jqoc2q.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 81vh;
  color: #fff;
  text-transform: uppercase;
}

.header-wrapper{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.header-table{
  display: table;
  height: 70vh;
  width: 100%;
}
.header-title{
  font-size: 70px;
  letter-spacing: 10px;
  font-weight: 400;
}
.header-subtitle{
  font-size: 20px;
  letter-spacing: 3px;
}

.note{
  color: #dadada;
}
.quote{
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
  padding: 0px 145px;

  @media screen and (max-width: 768px){
    padding: 0px;
  }
}


.quoter{
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.black {
  color: #313131;
}
.white {
  background: #fff ;
}
.gray {
  background: gray;
}
.section-wrapper {
  padding-top: 90px;
  padding-bottom: 80px;
}

.section-wrapper-portfolio {
    padding-bottom: 80px;
    padding-top: 40px;
}
.section-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.section-item-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section-item-detail {
  font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    letter-spacing: .39px;
}
.underline {
  height: 2px;
  width: 50px;
  margin: 0px auto 60px;
}
.pagination-row {
  text-align: center;
}
.pagination a, .pagination span, .pagination em {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border: 1px solid #ddd;
}

.pagination .disabled {
  color: #EAEAEA;
}

.pagination .current {
  font-weight: bold;
  background: #EAEAEA;
}

.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}

.scroll__demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll__demo a:hover {
  opacity: .5;
}

.scroll__indicator a {
  padding-top: 70px;
}
.scroll__indicator a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

