.header {
  background: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/14479731_2108967045995605_9165204043299531509_n.jpg?oh=e8afa8dc487ff6794a1803be28fc3bdf&oe=598F063C');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
}

.header-wrapper{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.header-table{
  display: table;
  height: 70vh;
  width: 100%;
}
.header-title{
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 200;
}
.header-subtitle{
  font-size: 20px;
  letter-spacing: 3px;
}



.note{
  color: #dadada;
}
.quote{
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
  padding: 0px 145px;
}
.quoter{
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.black {
  color: #313131;
}
.white {
  background: #fff ;
}
.gray {
  background: gray;
}
.section-wrapper {
  padding-top: 90px;
  padding-bottom: 80px;
}

.section-wrapper-portfolio {
    padding-bottom: 80px;
    padding-top: 40px;
}
.section-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 40px;
}
.section-item-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section-item-detail {
  font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    letter-spacing: .39px;
}
.underline {
  height: 2px;
  width: 50px;
  margin: 0px auto 60px;
}
