<section class="portfolio-header" id="header">
</section>

<section class="section-background">
  <div class="container">
    <ol class="breadcrumb">
    </ol>
  </div>
</section>

<section class="about" id="about">
  <div class="container section-wrapper">
    <h2 class="section-title black">
      A propos
    </h2>
    <div class="underline purple"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/14947912_2133087476916895_4006963359571462802_n.jpg?oh=6de966a9caadc6f2aa2a70f1d759e688&oe=5959ED8D" alt="about" class="about-img">
      </div> <!-- /.col-md-3 -->
      <div class="col-md-9 col-sm-12">
        <p class="about-detail">
          Autodidacte, je pratique la photographie depuis les années 1980. <br>

          Mon travail aborde les paysages des bords de mer ou de la ville, parfois même les scènes de rues. Je m’intéresse en particulier à la géométrie urbaine, au graphisme, aux lignes fuyantes qui naissent de la rencontre du ciel, de la terre et de l’eau, de l’architecture et de la nature . <br>
          <br>
          Mais, issu du monde rural, je reste le plus souvent fidèle à mes origines dans mon travail de photographe. J’arpente les chemins du Pays de Caux et je m’efforce de rendre la beauté et la poésie des paysages que je parcours en toutes saisons. Chemins de terre, clos-masures, fossés, alignements d’arbres couverts de feuilles ou dépouillés par l’hiver, clôtures, herbages, travaux des champs, bovins…, tous ces sujets se succèdent naturellement devant mon objectif. Et toujours on y retrouve ces ciels changeants de Normandie qu’ont tant aimés les Impressionnistes. <br>
          <br>
          Mes voyages et mes randonnées dans d’autres régions de France, ou beaucoup plus loin parfois, me donnent aussi l’occasion de proposer d’autres paysages, qui viennent s’inscrire en contrepoint de cette exploration systématique du Pays de Caux de mon enfance. <br>
          <br>
        </p>
        <p class="about-detail">Denis Grisel</p>
      </div>
    </div>
  </div>
</section>


