<section class="portfolio-header" id="header">
</section>
<section class="section-background">
  <div class="container">
    <ol class="breadcrumb">
    </ol>
  </div>
</section>

<section class="contact section-wrapper" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4 contact-item col-sm-6 col-xs-12">
        <i class="fa fa-map-marker"></i>
        <h3>Adresse</h3>
        <p class="contact">
            Hoffman Parkway, 353 <br>
            Monuntain View, USA
        </p>
    </div>
    <div class="col-md-4 contact-item col-sm-6 col-xs-12">
      <i class="fa fa-phone"></i>
      <h3>Téléphone</h3>
      <p class="contact">
          Fixe: 05.00.00.00.00 <br>
          Mobile: 06.00.00.00
      </p>
    </div>
    <div class="col-md-4 contact-item col-sm-6 col-xs-12">
      <i class="fa fa-envelope"></i>
      <h3>Adresse email</h3>
      <p class="contact">
          <a href="mailto:grisel.denis@sfr.fr">grisel.denis@sfr.fr</a> <br>
      </p>
    </div>
  </div>
  <form class="row form">
    <h3>Formulaire de contact</h3>
    <div class="col-sm-4 col-xs-12 form-group">
      <label class="sr-only">Nom et Prénom</label>
      <input name="name" class="form-control" type="text" placeholder="Nom et Prénom">
    </div>
    <div class="col-sm-4 col-xs-12 form-group">
      <label class="sr-only">Email</label>
      <input name="email" class="form-control" type="email" placeholder="Email">
    </div>
    <div class="col-sm-4 col-xs-12 form-group">
      <label class="sr-only">Site internet</label>
      <input name="website" class="form-control" type="text" placeholder="Votre site internet">
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12 form-group">
        <label class="sr-only">Message</label>
        <textarea class="message form-control" placeholder="Votre message"></textarea>
      </div>
      <input class="btn btn-sub" type="submit" value="Envoyer">
    </div>
  </form>
  </div>
</section>
