.filters {
  margin-top: 40px;
  margin-left: 315px;
  color: black;
  font-size: 12px;
  letter-spacing: 5px;
}

.filters a {
  list-style: none;
  padding: 10px 15px;
  border: 1px solid #313131;
}

.filters a {
  display: inline-block;
}

.filters a {
  display: block;
  float: left;
  color: inherit;
  margin-right: 5px;
  margin-bottom: 5px;
}

.filters a:hover,.filters a:focus {
  text-decoration:none;
  outline:0;
}

.filters a:hover {
  color: white;
  opacity: 0.8;
  background-color: #313131;
}
