<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="copy">
          Copyright &copy; 2016 Marine Petit
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer>
