<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="copy">
          Copyright &copy; 2016 Marine Petit
        </div>
      </div>
      <div class="col-sm-6 text-right">
        <div class="copy">
          Theme by <a href="http://www.themewagon.com">themewagon.com</a>. All Rights Reserved
        </div>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer>
